<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
   <title>CricManiac</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/home.css">
    <style>
    
    body{
        background: url("/flags/homewall1.png");
        background-repeat: no-repeat; 
        background-attachment: fixed;
        width: 100%;
        height: 1000px;

    }

    </style>
  
</head>

<body>

  
<div class="contain">
    <div class="icon-wrapper">
        <svg id="cricket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <title>Cricket</title>
              <path id="bat" class="cls-1" d="M86.68,22.9l-9.59-9.58a6.52,6.52,0,0,0-4.62-2,7.35,7.35,0,0,0-5,1.81L31.17,49.5a6.57,6.57,0,0,0,0,9.42l1,1L15.47,76.59l-5.29,5.29a1.6,1.6,0,0,0,0,2.31l5.29,5.29a1.6,1.6,0,0,0,2.31,0l5.29-5.29L39.76,67.51l1,1a6.52,6.52,0,0,0,4.62,2,6,6,0,0,0,4.63-2L78.09,40.74,82.88,36l3.8-3.8a6.39,6.39,0,0,0,0-9.25ZM16.63,86l-3-3,4-4,3,3Zm5.28-5.28-3-3L34.47,62.22l3,3ZM34.3,57.42,53,46.82,42.41,65.53Zm13.55,8.77a3.27,3.27,0,0,1-2.31,1,3.16,3.16,0,0,1-1.65-.5l10.9-19.49a1.47,1.47,0,0,0,.17-.83,1.54,1.54,0,0,0-.5-1.16,1.76,1.76,0,0,0-2-.33L33,55.78a2.8,2.8,0,0,1-.49-1.65,3.27,3.27,0,0,1,1-2.32l26.76-26.6L74.62,39.59ZM75.6,38.44,61.3,24.13,62.46,23h0l2.48-2.48h0l1.16-1.16,14.31,14.3Zm8.6-8.76-2.65,2.8L67.18,18.11l2.64-2.64a3.29,3.29,0,0,1,2.32-1,5.54,5.54,0,0,1,2.48,1L84.2,25A3.2,3.2,0,0,1,84.2,29.68Z" />
            <g id="ball">
              <path class="cls-2" d="M85,72.69a5,5,0,0,0-6.42,0,4.6,4.6,0,0,0-.63.62,5,5,0,0,0,.62,7,4.91,4.91,0,0,0,3,1.16A5,5,0,0,0,85,72.69Z" />
              <path class="cls-3" d="M78.46,72.64c6,2.14-.59,8,3.12,8.89" />
            </g>
        </svg>
      </div>
      <h1>CricManiac</h1>
      <% if(currentUser){ %>
        <div style="font-family: 'Parisienne', cursive;
        font-size: x-large;
        font-weight: 500;
        text-align: -webkit-center;
        margin: 30px 0;">
          Hello <%= currentUser.username %>
        </div>
       <% } %>
      <div class="link">
        <div class="text"><a href="/" style="text-decoration: none">Home</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/matches" style="text-decoration: none">Matches</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/leaderBoard" style="text-decoration: none">LeaderBoard</a></div>
      </div>
      <% if(currentUser){ %>
        <div class="link">
          <div class="text"><a href="/love" style="text-decoration: none">Favourite</a></div>
        </div>
        <% } %>
      <div class="link">
        <div class="text"><a href="/news" style="text-decoration: none">News</a></div>
      </div> 
      <div class="link">
        <div class="text"><a href="/quiz" style="text-decoration: none">Quiz</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/about" style="text-decoration: none">About</a></div>
      </div>
 
</div>

<div class="iphone_x center shadow big_container" style="height: auto;">
  <svg id="back_btn" width="16px" height="16px" viewBox="0 0 16 16" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="iPhone-XS" transform="translate(-26.000000, -58.000000)" fill="#303436" fill-rule="nonzero">
              <path
                  d="M40.8520289,64.7468753 C41.3554788,64.8575157 41.6739138,65.3553342 41.5632734,65.858784 C41.4851513,66.2142651 41.2075099,66.4919064 40.8520289,66.5700285 L40.8520289,66.5700285 L29.5573722,66.5700285 L34.7377955,71.7726854 C34.9915327,72.242518 34.8163527,72.8290873 34.34652,73.0828245 C34.0799603,73.2267823 33.7613356,73.2374752 33.4857243,73.1117123 L33.4260145,73.0844664 L26.7071068,66.3655587 C26.3165825,65.9750344 26.3165825,65.3418694 26.7071068,64.9513451 L33.4260145,58.2324374 L33.4640685,58.2143475 C33.947894,57.9843485 34.5265631,58.1901155 34.7565621,58.6739411 C34.8881318,58.9507109 34.8811738,59.2733776 34.7377955,59.5442184 L34.7377955,59.5442184 L29.5573722,64.7468753 L40.8520289,64.7468753 Z">
              </path>
          </g>
      </g>
  </svg>
  <svg class="back_img" width="750px" height="812px" viewBox="0 0 750 812" version="1.1"
      xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <!-- Generator: Sketch 55.1 (78136) - https://sketchapp.com -->
      <defs>
          <rect id="path-1" x="-9.09494702e-13" y="0" width="375" height="135"></rect>
          <path
              d="M388.781658,68.6336801 C425.682881,50.486968 451.176444,54.7411275 455.563065,83.497362 C458.487479,102.668185 448.652633,179.169064 426.058527,313 L-33.1820707,313 C-36.9393098,260.81965 -36.9393098,229.56992 -33.1820707,219.250807 C-27.5462121,203.772139 -25.6225825,173.687412 -6.17274796,161.558541 C13.2770866,149.42967 42.6121351,136.359726 66.2648904,103.309662 C89.9176457,70.2595983 101.722271,53.1576235 178.5,47.4969481 C255.277729,41.8362728 351.880435,86.7803921 388.781658,68.6336801 Z"
              id="path-3"></path>
          <filter x="-2.6%" y="-4.9%" width="105.7%" height="110.5%" filterUnits="objectBoundingBox"
              id="filter-4">
              <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
              </feComposite>
              <feColorMatrix values="0 0 0 0 1   0 0 0 0 0.605423942   0 0 0 0 0.161852134  0 0 0 0.314958479 0"
                  type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
              <feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
              <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter2" result="shadowBlurOuter2">
              </feGaussianBlur>
              <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2">
              </feComposite>
              <feColorMatrix values="0 0 0 0 0.991479846   0 0 0 0 0.939712241   0 0 0 0 0.767206651  0 0 0 0.5 0"
                  type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
              <feMerge>
                  <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                  <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
              </feMerge>
          </filter>
          <path
              d="M-56.5763923,213.390552 C-51.3100708,178.723885 -40.2662829,156.668906 -23.4450286,147.225615 C1.7868529,133.060679 19.5947791,136.882332 86.2064525,132.390552 C152.818126,127.898772 178.479291,96.4510409 199.00021,70.2256153 C219.52113,44.0001897 260.551037,41.6235599 277.42554,31.9992274 C294.300043,22.3748949 304.543427,7.67296874 309.433048,-4.60944835 C312.692795,-12.7977264 312.692795,-37.594577 309.433048,-79 L-89,-79 L-89,184.390552 L-56.5763923,213.390552 Z"
              id="path-5"></path>
          <filter x="-3.2%" y="-4.4%" width="107.0%" height="109.6%" filterUnits="objectBoundingBox"
              id="filter-6">
              <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
              </feComposite>
              <feColorMatrix values="0 0 0 0 1   0 0 0 0 0.605423942   0 0 0 0 0.161852134  0 0 0 0.314958479 0"
                  type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
              <feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
              <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter2" result="shadowBlurOuter2">
              </feGaussianBlur>
              <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2">
              </feComposite>
              <feColorMatrix values="0 0 0 0 0.991479846   0 0 0 0 0.939712241   0 0 0 0 0.767206651  0 0 0 0.5 0"
                  type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
              <feMerge>
                  <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                  <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
              </feMerge>
          </filter>
          <rect id="path-7" x="9.09494702e-13" y="0" width="375" height="189"></rect>
          <path
              d="M-9.57639226,189.390552 C-4.31007078,154.723885 6.73371712,132.668906 23.5549714,123.225615 C48.7868529,109.060679 66.5947791,112.882332 133.206453,108.390552 C199.818126,103.898772 225.479291,72.4510409 246.00021,46.2256153 C266.52113,20.0001897 307.551037,17.6235599 324.42554,7.9992274 C341.300043,-1.62510508 351.543427,-16.3270313 356.433048,-28.6094483 C359.692795,-36.7977264 359.692795,-61.594577 356.433048,-103 L-42,-103 L-42,160.390552 L-9.57639226,189.390552 Z"
              id="path-9"></path>
          <filter x="-3.2%" y="-4.4%" width="107.0%" height="109.6%" filterUnits="objectBoundingBox"
              id="filter-10">
              <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
              </feComposite>
              <feColorMatrix values="0 0 0 0 1   0 0 0 0 0.605423942   0 0 0 0 0.161852134  0 0 0 0.314958479 0"
                  type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
              <feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
              <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter2" result="shadowBlurOuter2">
              </feGaussianBlur>
              <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2">
              </feComposite>
              <feColorMatrix values="0 0 0 0 0.991479846   0 0 0 0 0.939712241   0 0 0 0 0.767206651  0 0 0 0.5 0"
                  type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
              <feMerge>
                  <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                  <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
              </feMerge>
          </filter>
          <path
              d="M25.2841126,108.36632 C62.1853356,90.2196079 158.788041,135.163727 235.56577,129.503052 C312.343499,123.842377 324.148124,106.740402 347.80088,73.6903379 C371.453635,40.640274 400.788684,27.5703297 420.238518,15.4414588 C439.688353,3.3125878 441.611982,-26.7721387 447.247841,-42.2508072 C451.00508,-52.5699195 451.00508,-83.8196504 447.247841,-136 L-11.9927566,-136 C-34.5868625,-2.16906425 -44.4217086,74.3318151 -41.4972947,93.502638 C-37.1106739,122.258872 -11.6171104,126.513032 25.2841126,108.36632 Z"
              id="path-11"></path>
          <filter x="-2.6%" y="-4.9%" width="105.7%" height="110.5%" filterUnits="objectBoundingBox"
              id="filter-12">
              <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
              <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
              <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
              </feComposite>
              <feColorMatrix values="0 0 0 0 1   0 0 0 0 0.605423942   0 0 0 0 0.161852134  0 0 0 0.314958479 0"
                  type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
              <feOffset dx="1" dy="1" in="SourceAlpha" result="shadowOffsetOuter2"></feOffset>
              <feGaussianBlur stdDeviation="4.5" in="shadowOffsetOuter2" result="shadowBlurOuter2">
              </feGaussianBlur>
              <feComposite in="shadowBlurOuter2" in2="SourceAlpha" operator="out" result="shadowBlurOuter2">
              </feComposite>
              <feColorMatrix values="0 0 0 0 0.991479846   0 0 0 0 0.939712241   0 0 0 0 0.767206651  0 0 0 0.5 0"
                  type="matrix" in="shadowBlurOuter2" result="shadowMatrixOuter2"></feColorMatrix>
              <feMerge>
                  <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                  <feMergeNode in="shadowMatrixOuter2"></feMergeNode>
              </feMerge>
          </filter>
      </defs>
      <g id="Artboard" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="login_img" transform="translate(0.000000, 677.000000)">
              <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
              </mask>
              <g id="Rectangle" transform="scale(-1, -1) translate(-375, -135) "></g>
              <g id="Path" opacity="0.26155599" mask="url(#mask-2)" transform="translate(0, 0)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                  <use fill-opacity="0.986724213" fill="#FFC200" fill-rule="evenodd" xlink:href="#path-3"></use>
              </g>
              <g id="Path01" opacity="0.452450707" mask="url(#mask-2)"
                  transform="scale(1, -1) translate(0, -135)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-6)" xlink:href="#path-5"></use>
                  <use fill-opacity="0.986724213" fill="#FFC200" fill-rule="evenodd" xlink:href="#path-5"></use>
              </g>
          </g>
          <g id="signup_img">
              <mask id="mask-8" fill="white">
                  <use xlink:href="#path-7"></use>
              </mask>
              <g id="Rect"></g>
              <g id="Path04" opacity="0.452450707" mask="url(#mask-8)"
                  transform="translate(0.000000, -189.000000)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-10)" xlink:href="#path-9"></use>
                  <use fill-opacity="0.986724213" fill="#FFC200" fill-rule="evenodd" xlink:href="#path-9"></use>
              </g>
              <g id="Path03" opacity="0.26155599" mask="url(#mask-8)"
                  transform="translate(0.000000, -189.000000)">
                  <use fill="black" fill-opacity="1" filter="url(#filter-12)" xlink:href="#path-11"></use>
                  <use fill-opacity="0.986724213" fill="#FFC200" fill-rule="evenodd" xlink:href="#path-11"></use>
              </g>
          </g>
      </g>
  </svg>
  <div id="2_page" class="iphone_2page">

      <div id="login_page" class="iphone_x center">

          <div class="content_container">

              <div class="title_text">Welcome</div>


                      <form action="/" method="POST">
                        
                                <div class="input_line">

                                    <input class="input_content" name="username" id="email_log" type="text" required autofocus />
                                    <label for="email">Username</label>
                                </div>

                                <!-- <div class="input_line">
                                    <select name="fav" class="input_content" >
                                        <option value="India">India</option>
                                        <option value="India">Australia</option>
                                        <option value="India">Bangladesh</option>
                                        <option value="India">England</option>
                                        <option value="India">New Zealand</option>
                                        <option value="India">Sri Lanka</option>
                                        <option value="India">South Africa</option>
                                        <option value="India">Afghanistan</option>
                                        <option value="India">West Indies</option>
                                        <option value="India">Pakistan</option>
                                    </select>
                                    <label for="pass">Favourite Team</label>
                                 </div> -->

                                <div class="input_line">

                                    <input class="input_content" name="password" id="pass" type="password" required />
                                    <label for="pass">Password</label>
                                    
                                    <button class="btn sign_up" style="margin: 60px 0;">
                                        <span>Log in</span>
                                    </button>

                                </div>
                                  

                              
                     </form>

                      

<!--             
              <div class="divider">
                  <hr><span>Or</span>
                  <hr>
              </div>  -->
              
              <div class="footer_line">
                  <span class="footer_text" >Don’t have an account?</span>
                  <span class="footer_link" id="signup">Sign up</span>
              </div>
          </div>

      </div>

      <div id="signup_page" class="iphone_x center">

          <div class="content_container">
    
            <form action="/register" method="POST">
            
              <div class="title_text">Let's get started</div>
              <div class="input_line">

                  <input class="input_content" id="user" name="username" type="text" required value="Anonymous" />
                  <label for="user">Username</label>
              </div>
              <div class="input_line">

                  <input class="input_content" id="email_sign" type="text" required autofocus />
                  <label for="email">Email</label>
              </div>
              <div class="input_line">

                  <input class="input_content" id="pass" name="password" type="password" required />
                  <label for="pass">Password</label>
              </div>

              <div class="input_line">
                <select name="fav" class="input_content" >
                    <option value="IND">India</option>
                    <option value="AUS">Australia</option>
                    <option value="BAN">Bangladesh</option>
                    <option value="ENG">England</option>
                    <option value="NZ">New Zealand</option>
                    <option value="SL">Sri Lanka</option>
                    <option value="SA">South Africa</option>
                    <option value="AFG">Afghanistan</option>
                    <option value="WI">West Indies</option>
                    <option value="PAK">Pakistan</option>
                </select>
                <label for="pass">Favourite Team</label>
             </div>
              <div class="input_line">

                  <input class="input_content" id="c_pass" type="password" required />
                  <label for="c_pass">Confirm Password</label>
              </div>

              <button class="btn sign_up">
                  <span>Sign up</span>
              </button>

      </form>

                  <div class="footer_line">
                  <span class="footer_text">Already have an account?</span>
                  <span class="footer_link" id="login">Log in</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <div id="homewall1">

df

</div>
  -->


<script>
  document.getElementById('login').addEventListener('click', jumpto_login);

document.getElementById('back_btn').addEventListener('click', jumpto_login);


document.getElementById('signup').addEventListener('click', jumpto_signup);

function jumpto_signup() {

    document.getElementById('back_btn').style.display = 'block';
    document.getElementById('back_btn').style.opacity = '0';
    document.getElementById('Path04').style.transform = 'translate(0px,0px)';
    document.getElementById('Path03').style.transform = 'translate(0px,0px)';
    // document.getElementById('login_img').style.transform = 'translate(0px,812px)';
    document.getElementById('2_page').style.transform = 'translateX(-50%)';
    document.getElementById('Path').style.transform = 'translate(0px,135px)';
    document.getElementById('Path01').style.transform = 'scale(1, -1) translate(0px, -270px)';
    setTimeout(function () {
        document.getElementById('back_btn').style.opacity = '1';
    }, 10);

document.getElementById("email_sign").value = document.getElementById("email_log").value;

};

function jumpto_login() {
    setTimeout(function () {
        document.getElementById('back_btn').style.display = 'none';
    }, 600);

    document.getElementById('2_page').style.transform = 'translateX(0%)';
    // document.getElementById('signup_page').style.transform = 'translateX(0%)';
    document.getElementById('back_btn').style.opacity = '0';
    document.getElementById('Path03').style.transform = 'translate(0px,-189px)';
    document.getElementById('Path04').style.transform = 'translate(0px,-189px)';
    document.getElementById('Path').style.transform = 'translate(0px,0px)';
    document.getElementById('Path01').style.transform = 'scale(1, -1) translate(0px, -135px)';
  document.getElementById("email_log").value = document.getElementById("email_sign").value;

};
</script>




    <script >
        
        var links = document.getElementsByClassName('link')
        for(var i = 0; i <= links.length; i++)
          addClass(i)


        function addClass(id){
          setTimeout(function(){
              if(id > 0) links[id-1].classList.remove('hover')
              links[id].classList.add('hover')
          }, id*750) 
        }
    </script>




</body>

</html>
