

.table {
    width: 100%;
    border: 1px solid #EEEEEE;
  }
  
  .table-header {
    display: flex;
    width: 100%;
    background: #000;
    padding: 18px 0;
  }
  
  .table-row {
    display: flex;
    width: 1000px;
    margin-left: -125px;
    padding: 8px 0;
  }
  .table-row:nth-of-type(odd) {
    background: #111;
  }
  
  .table-data, .header__item {
    flex: 1 1 20%;
    text-align: center;
  }
  
  .header__item {
    text-transform: uppercase;
  }
  
  .filter__link {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
  }
  .filter__link::after {
    content: '';
    position: absolute;
    right: -18px;
    color: white;
    font-size: 12px;
    top: 50%;
    transform: translateY(-50%);
  }
  .filter__link.desc::after {
    content: '(desc)';
  }
  .filter__link.asc::after {
    content: '(asc)';
  }

  
  .rolldown-list {
    text-align: left;
    padding: 0;
    margin: 0;
  }
  
  .rolldown-list li {
    padding: 5px;
    margin-bottom: .125em;
    display: block;
    list-style: none;
  
  }
  
  .rolldown-list li {
    visibility: hidden;
    animation: rolldown .3s 1;
    transform-origin: 50% 0;
    animation-fill-mode: forwards;
  }
  
  /* .rolldown-list li:nth-child(2n) {
    background-color: #222;
  }
  
  .rolldown-list li:nth-child(2n+1) {
    background-color: #111 ;
  } */
  
  #myList {
    position: absolute;
    width: 50%; 
    left: 50%;
    margin-left: -25%;
  }
  

  @keyframes rolldown {
    0% {
      visibility: visible;
      transform: rotateX(180deg) perspective(500px);
    }
    70% {
      visibility: visible;
      transform: rotateX(-20deg);
    }
    100% {
      visibility: visible;
      transform: rotateX(0deg);
    }
  }
  
  .contain-table{
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
  }

  .heading{
      text-align: center;
      padding: 10px 0;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Raleway', sans-serif;
  }